body,
h3 {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

header,
ul {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  justify-content: space-around;
}

header {
  justify-content: space-between;
  border-bottom: 2px solid #d7d7d7;
  padding: 10px 0;
}

.aloha-logo {
  width: 100px;
}

.cart-icon {
  width: 50px;
}

nav {
  text-transform: uppercase;
}

nav a {
  color: #e2574c;
  text-decoration: none;
}

nav a:visited {
  color: #e2574c;
}

nav a:hover {
  color: #b64036;
  font-weight: bold;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 16px;
  // font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner {
  height: 450px;
  background: linear-gradient(rgba(31, 50, 70, 0.25)),
    url(./../assets/images/banner-girl.png),
    url(./../assets/images/flower-bkgd.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom, center;
  background-size: cover, 160px, cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

div,
section {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // align-items: center;
  text-align: center;
}

em {
  font-weight: 400;
}

#about {
  height: fit-content;
  padding: 50px 15px;
  line-height: 200%;
}
#about p {
  font-weight: 300;
}
