body,
h3 {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

header,
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #d7d7d7;
  padding: 10px 0;
}

.aloha-logo {
  width: 100px;
}

.cart-icon {
  width: 50px;
}

nav {
  text-transform: uppercase;
}

nav a {
  color: #e2574c;
  text-decoration: none;
}

nav a:visited {
  color: #e2574c;
}

nav a:hover {
  color: #b64036;
  font-weight: bold;
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner {
  height: 450px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 50, 70, 0.25))), url(./../assets/images/banner-girl.png), url(./../assets/images/flower-bkgd.jpg);
  background: linear-gradient(rgba(31, 50, 70, 0.25)), url(./../assets/images/banner-girl.png), url(./../assets/images/flower-bkgd.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, bottom, center;
  background-size: cover, 160px, cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

div,
section {
  text-align: center;
}

em {
  font-weight: 400;
}

#about {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 15px;
  line-height: 200%;
}

#about p {
  font-weight: 300;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.square div {
  width: 50%;
}

.men {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 50, 70, 0.25))), url(./../assets/images/mens-category.jpg);
  background: linear-gradient(rgba(31, 50, 70, 0.25)), url(./../assets/images/mens-category.jpg);
}

.trends {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 50, 70, 0.25))), url(./../assets/images/trends-category.jpg);
  background: linear-gradient(rgba(31, 50, 70, 0.25)), url(./../assets/images/trends-category.jpg);
}

.glasses {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 50, 70, 0.25))), url(./../assets/images/glasses-category.jpg);
  background: linear-gradient(rgba(31, 50, 70, 0.25)), url(./../assets/images/glasses-category.jpg);
}

.sale {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 50, 70, 0.25))), url(./../assets/images/sale-category.jpg);
  background: linear-gradient(rgba(31, 50, 70, 0.25)), url(./../assets/images/sale-category.jpg);
}

.bags {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 50, 70, 0.25))), url(./../assets/images/bags-category.jpg);
  background: linear-gradient(rgba(31, 50, 70, 0.25)), url(./../assets/images/bags-category.jpg);
}

.women {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 50, 70, 0.25))), url(./../assets/images/womens-category.jpg);
  background: linear-gradient(rgba(31, 50, 70, 0.25)), url(./../assets/images/womens-category.jpg);
}

.men,
.trends,
.glasses,
.sale,
.bags,
.women {
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.men,
.trends,
.glasses,
.sale,
.bags {
  margin-bottom: 10px;
}

.trends,
.sale {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */